html,
body {
  width: 100vw;
  height: 100vh;
  background: white;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #d309e1 0%, rgb(156, 26, 255) 100%);
}

.circle{
  position: relative;
  width: 2500px;
  height: 2500px;
  line-height: 10px;
  border-radius: 50%;
  border: solid 1250px white;
  z-index: 1;
}

.avatar{
  position: absolute;
  left: 50%;
  top: 50%;
  
  /* half width and height of element */
  margin-left: -137px;
  margin-top: -126px;
  /* https://thoughtbot.com/blog/positioning */
  z-index: 0;
}
